.sidebarOptionContainer{
    color: gray;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    display: flex;
    align-items: center;

}

.sidebarOptionContainer:hover{
    color: white;
}

.sidebarOptionIcon{
    padding-left: 10px;
    padding-right: 10px;
}