.footer{
    position: fixed;
    bottom: 0;
    /* height: 65px; */
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px; */
    padding-bottom: 50px;
}

.footerLeft{
    flex: 0.3;
}

.footerCenter{
    flex: 0.4;
    /* padding: 0 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 300px;
}

.footerCenterShuffleIcon{
    margin-right: 10px;
    
}
.footerCenterSkiPrevIcon{
    margin-right: 10px;
    
}
.footerCenterPlayIcon{
    
    margin-right: 10px;
    
}
.footerCenterSkipNextIcon{
    
    margin-right: 10px;
}

.footerCenterRepeatIcon{
    
}

.footerRight{
    flex: 0.3;
    margin-right: 100px;
}